
@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Eurofurencer;
    src: url(fonts/Eurofurencer-Regular.ttf);
}

@font-face {
    font-family: Noto-Regular;
    src: url(fonts/Noto-Regular.ttf);
}

@font-face {
    font-family: Edu-Regular;
    src: url(fonts/Edu.ttf);
}

@font-face {
    font-family: Playwrite-Regular;
    src: url(fonts/Playwrite.ttf);
}